body {
  background-color: #DDD;
}

.container {
  padding-top: 50px;
}

.nav-link {
  color: rgba(255,255,255,.5);
}

.card-body {
  background-color: #EEE;
}

label.error {
  margin-bottom: 0;
  color: orangered;
}

input.error {
  border-color: orangered;
}